{% assign show_cart_icon = section.settings.show_cart_icon %}
{% assign search_settings = section.settings.search %}
{% assign show_wishlist_icon = section.settings.show_wishlist_icon %}

<header
    class="flex lg:hidden sf-header__mobile container-fluid bg-white items-center"
    data-screen="sf-header__mobile"
    data-transparent="{{ transparent_on_top }}"
>
    {% render 'header-option-item__hamburger-button', box_size: 'flex' %}
    {% render 'header-logo', header_settings: section.settings, box_size: 'w-1/2' %}
    {% if show_cart_icon or search_settings != 'hide' %}
        <div class="w-1/4 flex flex-1 items-center justify-end sf-header__mobile-right">
            {% if show_wishlist_icon %}
 	           {% render 'header-option-item__wishlist', display_by: 'icon' %}
            {% endif %}
            {% if show_cart_icon %}
              {% render 'cart' %}
            {% endif %}
        </div>
    {% endif %}
</header>
