<a class="{{ box_size }} py-3.5 sf-menu-button" style="width:10%">
    {% render 'icon', name: 'menu', size: 'custom', class: 'w-[22px] h-[22px]' %}
</a>
{% if search_settings != 'hide' %}
<div class="flex justify-center items-center p-2" data-open-search-popup>
  <span class="sf__search-mb-icon">{% render 'icon', name: 'search', size: 'medium' %}</span>
</div>
{% endif %}
