{% assign pcard_default_image = settings.pcard_default_image %}

{% if image_ratio == nil or image_ratio == blank %}
  {%- assign image_ratio = settings.pcard_image_ratio | default: '1/1' -%}
{% endif %}
{%- if image_ratio == 'original' -%}
  {%- assign image_ratio = product.featured_image.aspect_ratio | default: '1/1' -%}
{%- endif -%}

<div class="flex justify-center items-center">
  <a href="{{ product.url | within: collection }}?variant={{variant.id}}" class="block w-full">
    {% if variant.image %}
      {% assign featured_media = variant.image %}
    {%  else %}
      {% assign featured_media = product.featured_media %}
    {% endif %}
    <div class="spc__img-only">
      {% render 'responsive-image', image: featured_media, aspect_ratio: image_ratio, image_class: 'se-out w-full h-full', image_attributes: image_attributes %}
    </div>
  </a>
</div>
