{% comment %} on_sale {% endcomment %}
{% assign variant = product.selected_or_first_available_variant %}
{%- assign compare_at_price = variant.compare_at_price -%}
{%- assign price = variant.price -%}
{% assign on_sale = false %}
{% if compare_at_price > price %}
  {% assign on_sale = true %}
{% endif %}

<div class="sf-prod__info-wrapper">
    <div class="sf-prod__info{% if on_sale %} sf-product--onsale{% endif %}">
      {% render 'main-product-blocks', section: section, product: product %}

      {%- for block in section.blocks -%}
        {% if block.type == 'addons' and block.settings.show_ask_a_question %}
          {% render 'form__ask-a-question' %}
          {% break %}
        {% endif %}
      {%- endfor -%}

      <div class="addons-block">
        <div
          id="fox-product-bundle-inside"
          data-fox-app="true"
          data-section-product-bundle
        ></div>
      </div>
    </div>
</div>



{% assign size_guide_block = null %}

{% for block in section.blocks %}
  {% if block.type == 'size_guide' %}
    {% assign size_guide_block = block %}
    {% break %}
  {% endif %}
{% endfor %}

{% if size_guide_block != null %}
  <div class="size-guide-popup">
    <div class="popup-wrapper">
      <button data-size-guide-close>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 371.23 371.23" style="enable-background:new 0 0 371.23 371.23;" xml:space="preserve">
          <polygon points="371.23,21.213 350.018,0 185.615,164.402 21.213,0 0,21.213 164.402,185.615 0,350.018 21.213,371.23   185.615,206.828 350.018,371.23 371.23,350.018 206.828,185.615 "/>
        </svg>
      </button>
      <div class="popup-content">
        <img src="{{ size_guide_block.settings.image | img_url: '1000x' }}">
      </div>
    </div>
    <div data-popup-bg data-size-guide-close></div>
  </div>
{% endif %}