{% assign default = 'products.product.add_to_cart' | t %}
<button
    type="submit"
    class="add-to-cart sf__btn flex-grow flex-shrink not-change relative {{ class }} {% unless product.selected_or_first_available_variant.available %}disabled{% endunless %}"
    data-add-to-cart-text="{{ btn_text | default: default }}"
>
    {% render 'atc-spinner' %}
    <span
        class="not-change"
        data-add-to-cart-text{% if template.suffix == 'pre-order' %}-disable{% endif %}="{{ btn_text | default: default }}"
        data-sold-out="{{ 'products.product.sold_out' | t }}"
        data-unavailable="{{ 'products.product.unavailable' | t }}"
    >
        {% if template.suffix == 'pre-order' %}
            Pre Order
        {% else %}
            {% if product.available %}
                {{ btn_text | default: default }}
            {% else %}
                {{ 'products.product.sold_out' | t }}
            {% endif %}
        {% endif %}
    </span>
</button>
{% comment %}
        {% if product.available %}
      	  {% if product.selected_or_first_available_variant.quantity > 0 %}
            {{ btn_text | default: default }}
      	  {% elsif product.selected_or_first_available_variant.inventory_policy == "continue" and product.selected_or_first_available_variant.quantity == 0 %}
      		Pre Order
      	  {% elsif product.selected_or_first_available_variant.inventory_policy != "continue" and product.selected_or_first_available_variant.quantity <= 0 %}
      		{{ 'products.product.sold_out' | t }}
      	  {% endif %}
        {% else %}
            {{ 'products.product.sold_out' | t }}
        {% endif %}

{% endcomment %}