<div class="sf-prod__layout-1">
    <div class="flex flex-wrap sf-prod__block sf-prod__container custom-slider-view">
            <div class="sf-media-nav">
              <div class="nav-swiper-container flex items-stretch sf-no-scroll-bar opacity-0 transition-all">
                <div class="flex flex-wrap w-full max-w-none">
                  {% assign variant_id = '' %}
                  {% for media in product.media %}
                    {% assign aspect_ratio = media.aspect_ratio |  default: 1 %}
                  	
                  	{% assign flag = true %}
                    {%- for variant in product.variants -%}
                      {%- if variant.image.src == media.src -%}
                  		{% if flag %}
                  			{% assign variant_id = '' %}
                  			{% assign flag = false %}
                  		{% endif %}
                      	{% assign variant_id = variant.id | append: "," | append: variant_id  %}
                      {%- endif -%}
                    {%- endfor -%}
                  
                    <div
                      class="swiper-slide sidebar-slide relative cursor-pointer" data-index="{{ forloop.index0 }}" data-target="media_{{ media.id }}"
                      data-alt="{{ media.alt }}"
                      {%- if product_layout == 'layout-6' -%}
                        style="--slide-height: {{ 70 | divided_by: aspect_ratio }}px;"
                      {%- endif -%}
                      data-variant="{{ variant_id }}"
                    >
                      {% render 'media', media: media, render_by_image: true %}
                      {% if media.media_type contains 'video' %}
                        <div class="absolute right-0 top-0 text-white bg-gray-800 p-1 rounded-sm">
                          {% render 'icon', name: 'video', size: 'small' %}
                        </div>
                      {% endif %}
                      {% if media.media_type == 'model' %}
                        <div class="absolute right-0 top-0 text-white bg-gray-800 p-1 rounded-sm">
                          {% render 'icon', name: 'cube', size: 'small' %}
                        </div>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
        <div class="w-full md:w-1/2 main-media">
            <div class="sf-prod-media__wrapper default-variant">
                <div class="sf-product-media__desktop flex justify-end hidden md:block">
                  <div class="flex-grow">
                    {% assign variant_id = '' %}
                    {% for media in product.media %}
                    
                      {% assign flag = true %}
                      {%- for variant in product.variants -%}
                        {%- if variant.image.src == media.src -%}
                          {% if flag %}
                              {% assign variant_id = '' %}
                              {% assign flag = false %}
                          {% endif %}
                          {% assign variant_id = variant.id | append: "," | append: variant_id  %}
                        {%- endif -%}
                      {%- endfor -%}
                    
                      <div id="media_{{ media.id }}" class="sf-prod-media-item media-type-{{ media.media_type }} overflow-hidden relative group" data-index={{ forloop.index0 }} data-alt="{{ media.alt }}" data-variant="{{ variant_id }}">
                        {% render 'media', media: media, aspect_ratio: media.aspect_ratio %}
                        <div class="transition-all opacity-100 md:opacity-0 absolute z-10 right-5 md:-right-14 top-5 group-hover:opacity-100 group-hover:right-5">
                          {% render 'tooltip', type: 'zoom-in', class_name: 'sf__tooltip-left' %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="sf-product-media__mobile md:hidden">
                  {% render 'product-page-mobile-media' %}
                </div>
            </div>
        </div>
        <div class="w-full md:w-1/2 pro-info">
          {% render 'product-page__info', section: section %}
        </div>
    </div>
</div>
