<div class="collection-filters" id="main-collection-filters" data-id="{{ section.id }}">
  {%- assign total_active_values = 0 -%}
  <collection-filters-form class="facets" data-view="{{ section.settings.sidebar }}">
    <form id="CollectionFiltersForm" class="facets__form">
      {% if section.settings.show_sorting %}
        <div class="hidden" data-form-sortby>
          {% render 'collection-filters-sort-by' %}
        </div>
      {% endif %}

      <div class="facets__wrapper" data-filters-block>
        {% comment %}
          {% render 'collection-filters-product-count' %}
        {% endcomment %}
        
        {%- for filter in collection.filters -%}
          {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
          {% case filter.type %}
            {% when 'list' %}
              <div class="sf__accordion-item open disclosure-has-popup facets__disclosure js-filter" data-index="{{ forloop.index }}">
                <div class="facets__summary sf__accordion-button text-lg">
                  <div>
                    <span>{{ filter.label | escape }}</span>
                  </div>
                </div>
                <div class="facets__display sf__accordion-content" style="opacity: 1;">
                  <ul class="facets__list list-unstyled{% if section.settings.limit_height_widget %} sf-scroll_content{% endif %}" role="list">
                    {%- for value in filter.values -%}
                      <li class="list-menu__item facets__item">
                        <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                          <input type="checkbox"
                                 name="{{ value.param_name }}"
                                 value="{{ value.value }}"
                                 id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                 {% if value.active %}checked{% endif %}
                            {% if value.count == 0 and value.active == false %}disabled{% endif %}
                          >
                          <svg width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                            <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                          </svg>
                          <svg class="icon icon-checkmark"
                               width="11"
                               height="7"
                               viewBox="0 0 11 7"
                               fill="none"
                               xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                                  stroke="currentColor"
                                  stroke-width="1.75"
                                  stroke-linecap="round"
                                  stroke-linejoin="round" />
                          </svg>
                          {{ value.label | escape }}{% comment %} ({{ value.count }}){% endcomment %}
                        </label>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            {% when 'price_range' %}
              {% liquid
                assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                assign uses_comma_decimals = false
                if currencies_using_comma_decimals contains cart.currency.iso_code
                  assign uses_comma_decimals = true
                endif
              %}
              <div class="sf__accordion-item open disclosure-has-popup facets__disclosure js-filter" data-index="{{ forloop.index }}">
                <div class="facets__summary sf__accordion-button">
                  <div>
                    <span>{{ filter.label | escape }}</span>
                  </div>
                </div>
                <div class="facets__display sf__accordion-content" style="opacity: 1;">
                  <price-range class="facets__price">
                    <div class="field">
                      <label class="field__label" for="Filter-{{ filter.label | escape }}-GTE">{{ 'sections.collection_template.from' | t }}</label>
                      <div class=field__input-group>
                        <span class="field-currency">{{ cart.currency.symbol }}</span>
                        <input class="field__input"
                               name="{{ filter.min_value.param_name }}"
                               id="Filter-{{ filter.label | escape }}-GTE"
                                {%- if filter.min_value.value -%}
                                    {%- if uses_comma_decimals -%}value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
                                {%- endif -%}
                               type="number"
                               placeholder="0"
                               min="0"
                          {%- if uses_comma_decimals -%}max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"{% endif %}
                        />
                      </div>
                    </div>
                    <div class="field">
                      <label class="field__label" for="Filter-{{ filter.label | escape }}-LTE">{{ 'sections.collection_template.to' | t }}</label>
                      <div class=field__input-group>
                        <span class="field-currency">{{ cart.currency.symbol }}</span>
                        <input class="field__input"
                               name="{{ filter.max_value.param_name }}"
                               id="Filter-{{ filter.label | escape }}-LTE"
                               {%- if filter.max_value.value -%}{%- if uses_comma_decimals -%}value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
                                {%- endif -%}
                               type="number"
                               min="0"
                                {%- if uses_comma_decimals -%}
                                  placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                  max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                {%- else -%}
                                  placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                {% endif %}
                        />
                      </div>
                    </div>
                </div>
                </price-range>
              </div>
          {% endcase %}
        {%- endfor -%}
      </div>

      {% if collection.current_vendor or collection.current_type %}
        <input type="hidden" name="q" value="{{ collection.current_vendor }}{{ collection.current_type }}">
      {% endif %}
    </form>
  </collection-filters-form>
</div>
