{%- capture body_classes -%}
template-{{ template.name | handle }} {{ template.name }}-{{ template.suffix }} {{ template.name | append: '-' | append: handle }} {% if cart.item_count == 0 %}cart-empty{% endif %}
{%- endcapture -%}
{%- capture html_classes -%}
no-js supports-no-cookies {%- if request.path == '/challenge' -%}grow-full{%- endif -%}
{%- endcapture -%}

<!doctype html>
<html
  class="{{- html_classes -}}"
  lang="{{ request.locale.iso_code }}" 
  style="--sf-page-opacity: 0;"
  data-template="{{ template.name }}"
>
<head>{% render 'pagefly-head' %}
{% include "starapps-core" %}

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="theme-color" content="{{ settings.color_primary }}">

  {% render 'preload' %}
  {% render 'SEO' %}
  {% render 'social-meta-tags' %}
  {% render 'font-face' %}
  {% render 'critical-css' %}
  {% render 'critical-scripts' %}
  {% render 'style-tags' %}
  {% render 'custom-code-head' %}

  {% comment %} {% render 'content_for_header' %} {% endcomment %}
  {{ content_for_header }}

  <!-- Hotjar Tracking Code for https://pebbleandcrane.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2687317,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  
  {% include 'MonsterUpsell-shopify-prod-head' %}</head>

<body
  id="sf-theme" style="opacity: 0;"
  class="{{ body_classes }} relative min-h-screen"
  {% if template.name == 'product' %}data-product-id="{{ product.id }}"{% endif %}
>
  {% render 'theme-data' %}
  {% section 'annoucement' %}
  {% section 'header' %}

  <main role="main" id="MainContent">
    {% render 'scroll-top-button' %}
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
  {% section 'mobile-sticky-bar' %}

  {% render 'custom-code-body' %}
  {% render 'foxkit-messenger' %}
  {% render 'script-tags' %}
 
  
  <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
  <script>
      var klaviyo = klaviyo || [];
      klaviyo.init({
        account: "SbkrTv",
        list: 'XJtRa6',
        platform: "shopify"
         
      });
      klaviyo.enable("backinstock",{ 
      trigger: {
        product_page_text: "NOTIFY ME WHEN AVAILABLE",
        product_page_class: "btn btn--klaviyo btn--large btn--full uppercase",
        product_page_text_align: "center",
        product_page_margin: "10px 0px 10px",
        replace_anchor: false
      },
      modal: {
       headline: "{product_name}",
       body_content: "Sign up to receive a notification when this item comes back in stock.",
       email_field_label: "Email",
       newsletter_subscribe_label: "Sign me up for Pebble & Crane's newsletter, too.",
       button_label: "Notify me when available",
       subscription_success_label: "You're in! We'll let you know when it's back.",
       footer_content: '',
       additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
       drop_background_color: "#000",
       background_color: "#fff",
       text_color: "#2C3658",
       button_text_color: "#fff",
       button_background_color: "#56749F",
       close_button_color: "#ccc",
       error_background_color: "#fcd6d7",
       error_text_color: "#C72E2F",
       success_background_color: "#d3efcd",
       success_text_color: "#1B9500"
      }
    });
    </script>
    
    <!-- Klaviyo Pop Up ============================================== -->
    <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=SbkrTv"></script>
    
{% include 'MonsterUpsell-shopify-prod-body' %}</body>
</html>
