{% if section.blocks.size > 0 %}
  <style>
    {% for block in section.blocks %}
      {% if block.settings.title != blank %}
        [data-option-color-swatch='{{ block.settings.title | handle }}'] {
          {% if block.settings.color != blank %}
            background-color: {{ block.settings.color }} !important;
          {% endif %}
          {% if block.settings.image != blank %}
            background-image: url({{ block.settings.image | img_url: '100x' }}) !important;
          {% endif %}
        }
      {% endif %}
    {% endfor %}
  </style>
{% endif %}

{% schema %}
{
  "name": "Color swatch",
  "settings": [
  ],
  "blocks": [
    {
      "type": "swatch",
      "name": "Swatch",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color"
        }
      ]
    }
  ]
}
{% endschema %}