{%- comment -%} VERSION: 0.0.3 Please do not delete this line. {%- endcomment -%}
{%- liquid
	assign boost_translations = shop.metafields.boostpfs-settings.labelTranslations
	assign current_locale = request.locale.iso_code
	assign primary_locale = current_locale
	for locale in shop.published_locales
		if locale.primary
			assign primary_locale = locale.iso_code
			break
		endif
	endfor
	assign label_toolbar_viewas = boost_translations[current_locale].defaultTheme.toolbarViewAs | default:  boost_translations[primary_locale].defaultTheme.toolbarViewAs | escape
	assign label_items_with_count_one = boost_translations[current_locale].defaultTheme.toolbarProduct | default:  boost_translations[primary_locale].defaultTheme.toolbarProduct | escape
	assign label_items_with_count_other = boost_translations[current_locale].defaultTheme.toolbarProducts | default:  boost_translations[primary_locale].defaultTheme.toolbarProducts | escape
	assign label_sale = boost_translations[current_locale].defaultTheme.productItemSale | default:  boost_translations[primary_locale].defaultTheme.productItemSale | escape
	assign label_soldout = boost_translations[current_locale].defaultTheme.productItemSoldOut | default:  boost_translations[primary_locale].defaultTheme.productItemSoldOut | escape
	assign label_from = boost_translations[current_locale].defaultTheme.productItemFrom | default:  boost_translations[primary_locale].defaultTheme.productItemFrom | escape
  assign label_sale_percent = 'percent' | escape

	assign layout_type = section.settings.layout_type | default: 'box'
  assign show_collection_des = section.settings.show_collection_des
  assign collection_header_bg = section.settings.collection_header_bg | default: ''
  assign collection_header_text = section.settings.collection_header_text | default: ''

  assign switch_layout_filter = section.settings.switch_layout_filter
  assign filter_layout = section.settings.filter_layout

	assign enable_filter_sticky_d = section.settings.enable_filter_sticky_d
	assign enable_filter_sticky_m = section.settings.enable_filter_sticky_m
	
	assign show_view_as = section.settings.show_view_as
	assign show_product_count = section.settings.show_product_count
	assign show_sort_by = section.settings.show_sort_by
	assign show_view_as_m = section.settings.show_view_as_m
	assign show_product_count_m = section.settings.show_product_count_m
	assign show_sort_by_m = section.settings.show_sort_by_m
	assign view_as_type = section.settings.view_as_type | default: 'view_as_type_grid_list'

  assign product_item_type = section.settings.product_item_type | default: 'grid'
  assign product_item_layout = section.settings.product_item_layout | default: 'no-border'
  assign text_alignment = section.settings.text_alignment | default: 'left'
	assign show_vendor = section.settings.show_vendor
	assign show_price = section.settings.show_price
  assign show_product_review = section.settings.show_product_review
  assign show_detail_when_hover = section.settings.show_detail_when_hover
  assign active_image_swap = section.settings.active_image_swap

  assign aspect_ratio = section.settings.aspect_ratio | default: 'auto'
	assign aspect_ratio_other = section.settings.aspect_ratio_other | default: ''
	assign product_img_crop = section.settings.product_img_crop | default: 'none'
  
  assign products_per_page = section.settings.products_per_page | default: 15
  assign products_per_row = section.settings.products_per_row | default: 3
	assign products_per_row_m = section.settings.products_per_row_m | default: 2

  assign product_title_color = section.settings.product_title_color
  assign product_title_font = section.settings.product_title_font
  assign product_title_size = section.settings.product_title_size
  assign product_title_transform = section.settings.product_title_transform

  assign product_vendor_color = section.settings.product_vendor_color
  assign product_vendor_font = section.settings.product_vendor_font
  assign product_vendor_size = section.settings.product_vendor_size
  assign product_vendor_transform = section.settings.product_vendor_transform

  assign product_price_color = section.settings.product_price_color
  assign product_old_price_color = section.settings.product_old_price_color
  assign product_sale_price_color = section.settings.product_sale_price_color
  assign product_price_font = section.settings.product_price_font
  assign product_price_size = section.settings.product_price_size

  assign product_des_color = section.settings.product_des_color
  assign product_des_font = section.settings.product_des_font
  assign product_des_size = section.settings.product_des_size

  assign swatch_enable = section.settings.swatch_enable
  assign show_swatch_tooltip = section.settings.show_swatch_tooltip
  assign swatch_change_img = section.settings.swatch_change_img | default: 'hover'
  assign swatch_by_color_apply = section.settings.swatch_by_color_apply
  assign swatch_by_color_shape = section.settings.swatch_by_color_shape | default: 'circle'
  assign swatch_by_img_apply = section.settings.swatch_by_img_apply
  assign swatch_by_img_shape = section.settings.swatch_by_img_shape | default: 'circle'
  assign swatch_by_pro_img_apply = section.settings.swatch_by_pro_img_apply
  assign swatch_by_pro_img_shape = section.settings.swatch_by_pro_img_shape | default: 'circle'
  assign swatch_by_text_apply = section.settings.swatch_by_text_apply
  assign swatch_by_text_shape = section.settings.swatch_by_text_shape | default: 'square'
  assign swatch_by_text_bg = section.settings.swatch_by_text_bg
  assign swatch_by_text_color = section.settings.swatch_by_text_color
  assign swatch_by_text_border = section.settings.swatch_by_text_border

  assign label_position = section.settings.label_position | default: 'top_left'
  assign label_type = section.settings.label_type | default: 'rectangle'
  assign sale_label_enable = section.settings.sale_label_enable
  assign sale_label_display = section.settings.sale_label_display | default: 'text'
  assign sale_label_bg = section.settings.sale_label_bg
  assign sale_label_text = section.settings.sale_label_text
  assign sale_label_img = section.settings.sale_label_img

	assign sold_out_enable = section.settings.sold_out_enable
  assign sold_out_display = section.settings.sold_out_display | default: 'text'
  assign sold_out_bg = section.settings.sold_out_bg
  assign sold_out_text = section.settings.sold_out_text
  assign sold_out_img = section.settings.sold_out_img
	
  assign tag_label_enable = section.settings.tag_label_enable
  assign tag_label_bg = section.settings.tag_label_bg
  assign tag_label_text = section.settings.tag_label_text
-%}

{% capture products_item_settings %}
	{% if aspect_ratio == 'auto' %}boost-pfs-filter-product-item-equal-height-auto {% endif %} boost-pfs-filter-product-item-label-type-{{ label_type }} boost-pfs-filter-product-item-show-details-{{ show_detail_when_hover }} boost-pfs-filter-product-item-layout-{{ product_item_layout }} boost-pfs-filter-product-item-label-{{ label_position }}  boost-pfs-filter-product-item-text-alignment-{{ text_alignment }}  
{% endcapture %}


{% paginate search.results by products_per_page %}

<style>
  {% if collection_header_text != blank %}
  .boost-pfs-filter-collection-header-wrapper .boost-pfs-filter-collection-description,
  .boost-pfs-filter-collection-header-wrapper .boost-pfs-filter-collection-description p,
  .boost-pfs-filter-collection-header-wrapper .boost-pfs-filter-collection-header, 
  .boost-pfs-search-container .boost-pfs-search-result-header {
    color: {{ collection_header_text }};
  }
  {% endif %}

  {% if collection_header_bg != blank %}
  .boost-pfs-filter-collection-header-wrapper {
    background-color: {{ collection_header_bg }};
  }
  {% endif %}

  {% if product_title_color != blank or product_title_font != blank or product_title_size != blank or product_title_transform != blank  %}
    .boost-pfs-filter-product-item-title {
      {% if product_title_color != blank %}
          color: {{ product_title_color }};
      {% endif %}

      {% if product_title_font != blank %}
      font-family: {{ product_title_font.family }};
      font-weight: {{ product_title_font.weight }};
      font-style: {{ product_title_font.style }};
      {% endif %}

      {% if product_title_transform != blank %}
      text-transform: {{ product_title_transform }};
      {% endif %}
    }
    {% if product_title_size != blank %}
      @media (min-width: 768px){
        .boost-pfs-filter-product-item-title {
          font-size: {{ product_title_size }}px;
        }
      }
    {% endif %}
  {% endif %}

  {% if product_vendor_color != blank or product_vendor_size != blank or product_vendor_font != blank or product_vendor_transform != blank  %}
    .boost-pfs-filter-product-item-vendor {
      {% if product_vendor_color != blank %}
      color: {{ product_vendor_color }};
      {% endif %}

      {% if product_vendor_font != blank %}
      font-family: {{ product_vendor_font.family }};
      font-weight: {{ product_vendor_font.weight }};
      font-style: {{ product_vendor_font.style }};
      {% endif %}

      {% if product_vendor_transform != blank %}
      text-transform: {{ product_vendor_transform }};
      {% endif %}
    }
    {% if product_vendor_size != blank %}
      @media (min-width: 768px){
        .boost-pfs-filter-product-item-vendor {
          font-size: {{ product_vendor_size }}px;
        }
      }
    {% endif %}
  {% endif %}
  {% if product_price_color != blank or product_price_size != blank or product_price_font != blank or product_price_size != blank   %}
    .boost-pfs-filter-product-item-price {
      {% if product_price_color != blank %}
      color: {{ product_price_color }};
      {% endif %}

      {% if product_price_font != blank %}
      font-family: {{ product_price_font.family }};
      font-weight: {{ product_price_font.weight }};
      font-style: {{ product_price_font.style }};
      {% endif %}
    }
    {% if product_price_size != blank %}
      @media (min-width: 768px){
        .boost-pfs-filter-product-item-price {
          font-size: {{ product_price_size }}px;
        }
      }
    {% endif %}
  {% endif %}

  {% if product_old_price_color != blank %}
  .boost-pfs-filter-product-item-price s {
    color: {{ product_old_price_color }};
  }
  {% endif %}

  {% if product_sale_price_color != blank %}
  .boost-pfs-filter-product-item-price .boost-pfs-filter-product-item-sale-price {
    color: {{ product_sale_price_color }};
  }
  {% endif %}

  {% if product_des_color != blank or product_des_size != blank or product_des_font != blank %}
    .boost-pfs-filter-product-item-list .boost-pfs-filter-des {
      {% if product_des_color != blank %}
      color: {{ product_des_color }};
      {% endif %}

      {% if product_des_font != blank %}
      {% assign product_des_font = product_des_font %}
      font-family: "{{ product_des_font.family }}";
      font-weight: {{ product_des_font.weight }};
      font-style: {{ product_des_font.style }};
      {% endif %}
    }
    {% if product_des_size != blank %}
      @media (min-width: 768px){
        .boost-pfs-filter-product-item-list .boost-pfs-filter-des {
          font-size: {{ product_des_size }}px;
        }
      }
    {% endif %}
  {% endif %}

  {% if sale_label_bg != blank or sale_label_text != blank %}
  .boost-pfs-filter-product-item-label .sale {
    {% if sale_label_bg != blank %}
    background-color: {{ sale_label_bg }};
    {% endif %}

    {% if sale_label_text != blank %}
    color: {{ sale_label_text }};
    {% endif %}
  }
  {% endif %}

  {% if sold_out_bg != blank or sold_out_text != blank %}
  .boost-pfs-filter-product-item-label .soldout {
    {% if sold_out_bg != blank %}
    background-color: {{ sold_out_bg }};
    {% endif %}

    {% if sold_out_text != blank %}
    color: {{ sold_out_text }};
    {% endif %}
  }
  {% endif %}

  {% if tag_label_bg != blank or tag_label_text != blank %}
  .boost-pfs-filter-product-item-label .tag {
    {% if tag_label_bg != blank %}
    background-color: {{ tag_label_bg }};
    {% endif %}

    {% if tag_label_text != blank %}
    color: {{ tag_label_text }};
    {% endif %}
  }
  {% endif %}

  {% if swatch_by_text_bg != blank or swatch_by_text_color != blank or swatch_by_text_border != blank %}
  .boost-pfs-filter-item-swatch-type-text>li:not(.boost-pfs-filter-item-swatch-more) {
    {% if swatch_by_text_bg != blank %}
    background-color: {{ swatch_by_text_bg }};
    {% endif %}

    {% if swatch_by_text_color != blank %}
    color: {{ swatch_by_text_color }};
    {% endif %}

    {% if swatch_by_text_border != blank %}
    border-color: {{ swatch_by_text_border }};
    {% endif %}
  }
  {% endif %}
  
</style>

<div class="boost-pfs-filter-collection-header-wrapper boost-pfs-search-form-wrapper">
	<div class="boost-pfs-search-container boost-pfs-container-default-{{ layout_type }}">
		<h1 class="boost-pfs-search-result-header"></h1>
		<form class="boost-pfs-search-form" action="{{ routes.search_url }}" method="get" role="search">
			<input class="boost-pfs-search-input" type="search" name="q" value="{{ search.terms | escape }}">
			<button type="submit" class="boost-pfs-search-btn" aria-label="Submit"></button>
		</form>
	</div>
</div>

{% comment %} SEARCH RESULT TOOLBAR {% endcomment %}
<div class="boost-pfs-search-result-toolbar">
	<div class="boost-pfs-container-default-{{ layout_type }} boost-pfs-filter-default-toolbar-inner">
		<div class="boost-pfs-search-result-item">
			<ul class="boost-pfs-search-result-panel-controls">
				<li>{% render 'boost-pfs-filter-skeleton', width: 2 %}</li>
				<li>{% render 'boost-pfs-filter-skeleton', width: 2 %}</li>
				<li>{% render 'boost-pfs-filter-skeleton', width: 1 %}</li>
			</ul>
		</div>
		<div class="boost-pfs-search-result-item">
			<span class="filters-toolbar__product-count boost-pfs-search-total-result">
				{% render 'boost-pfs-filter-skeleton', width: 2 %}
			</span>
		</div>
	</div>
</div>
{% comment %} END SEARCH RESULT TOOLBAR {% endcomment %}

{%- comment -%} TOOLBAR TOP MOBILE {%- endcomment -%}
<div class="boost-pfs-filter-toolbar-top-mobile boost-pfs-search-panel-product-show {% if hide_toolbar_sort_by_mobile %} boost-pfs-filter-toolbar-top-mobile-hide-sort-by {% endif %} {% if enable_filter_sticky_m %}boost-pfs-filter-toolbar-sticky-mobile{% endif %}">
  <div class="boost-pfs-filter-toolbar-top-mobile-inner {% if show_sort_by_m %} boost-pfs-filter-toolbar-show-sort-by-mobile {% endif %}">
    {%- if show_sort_by_m -%}
    	<div class="boost-pfs-filter-top-sorting boost-pfs-filter-top-sorting-mobile boost-pfs-filter-custom-sorting">{%- render 'boost-pfs-filter-skeleton', type: 'button' -%}</div>
    {% endif %}
    <div class="boost-pfs-filter-tree-mobile-button">{%- render 'boost-pfs-filter-skeleton', type: 'button' -%}</div>
  </div>
</div>
{%- comment -%} END TOOLBAR TOP MOBILE {%- endcomment -%}

{%- comment -%} TOOLBAR {%- endcomment -%}
<div class="boost-pfs-filter-default-toolbar {% if show_view_as_m == false %} boost-pfs-filter-toolbar-top-mobile-hide-view-as {% endif %} {% if show_product_count_m == false %} boost-pfs-filter-toolbar-top-mobile-hide-product-count {% endif %}">
  {% if show_view_as == true or show_product_count == true or show_sort_by == true or show_view_as_m == true or show_product_count_m == true %}
    <div class="boost-pfs-container-default-{{ layout_type }} boost-pfs-filter-default-toolbar-inner {% if enable_filter_tree_button_desktop_v and enable_filter_sticky_d  %} boost-pfs-filter-sticky-wrapper {% endif %}">
      {% if show_view_as == true or show_view_as_m == true or filter_layout == 'filter_layout_collapse' or filter_layout == 'filter_layout_slide' %}
        <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-type boost-pfs-filter-{{ view_as_type }} {% if show_view_as == true or filter_layout == 'filter_layout_collapse' or filter_layout == 'filter_layout_slide'  %}boost-pfs-filter-display-type-d{% endif %} {% if show_view_as_m == true or filter_layout == 'filter_layout_collapse' or filter_layout == 'filter_layout_slide'  %}boost-pfs-filter-display-type-m{% endif %}">
          {% if filter_layout == 'filter_layout_collapse' or filter_layout == 'filter_layout_slide' %}
            <button class="boost-pfs-filter-custom-filter-button"> 
              <span>Filter</span>
            </button> 
          {% endif %}
          {%- if show_view_as == true or show_view_as_m == true -%}
            <div class="boost-pfs-filter-top-display-type {% if show_view_as %}boost-pfs-filter-top-display-type-d{% endif %} {% if show_view_as_m %}boost-pfs-filter-top-display-type-m{% endif %}">{%- render 'boost-pfs-filter-skeleton', width: 2 -%}</div>
          {%- endif -%}
        </div>
      {%- endif -%}
      
      {%- if show_product_count == true or show_product_count_m == true -%}
        <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-count {% if show_product_count%}boost-pfs-filter-toolbar-count-d{% endif %} {% if show_product_count_m %}boost-pfs-filter-toolbar-count-m{% endif %}">
          <span class="boost-pfs-filter-total-product">{%- render 'boost-pfs-filter-skeleton', width: 1 -%}</span>
        </div>
      {%- endif -%}
      
      {%- if show_sort_by -%}
        <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-custom-sorting boost-pfs-filter-top-sorting">{%- render 'boost-pfs-filter-skeleton', width: 1 -%}</div>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>
{%- comment -%} END TOOLBAR {%- endcomment -%}

<div class="boost-pfs-filter-wrapper boost-pfs-search-panel-product-show {% if enable_filter_sticky_d %} boost-pfs-filter-tree-h-sticky-filter {% endif %} {% if filter_layout == 'filter_layout_collapse' %}boost-pfs-filter-layout-collapse {% endif %} {% if filter_layout == 'filter_layout_slide' %}boost-pfs-filter-layout-slide {% endif %}">
	{%- if switch_layout_filter == 'switch_layout_filter_horizontal' -%}
	<div class="boost-pfs-filter-tree-h-wrapper">
		<div class="boost-pfs-container-default-{{ layout_type }}">
			<div class="boost-pfs-filter-tree boost-pfs-filter-tree-h" data-is-desktop>
				{%- render 'boost-pfs-filter-skeleton', type: 'filter-tree-h' -%}
			</div>
		</div>
	</div>
	<div class="boost-pfs-container-default-{{ layout_type }}">
		<div class="boost-pfs-filter-refine-by-wrapper-h"></div>
	</div>
	{%- endif -%}

	<div class="boost-pfs-container-default-{{ layout_type }}">
			{%- if switch_layout_filter == 'switch_layout_filter_horizontal' -%}
			<div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-mobile></div>
			{%- endif -%}

			{%- if switch_layout_filter != 'switch_layout_filter_horizontal' and filter_layout == 'filter_layout_slide' -%}
			<div class="boost-pfs-filter-custom-drawer-overlay"></div>
			{%- endif -%}

			{%- if switch_layout_filter != 'switch_layout_filter_horizontal' -%}
			<div class="boost-pfs-filter-left-col">
				<div class="boost-pfs-filter-left-col-inner">
					{%- if filter_layout == 'filter_layout_slide' -%}
					<div class="boost-pfs-filter-custom-drawer-close"></div>
					{% endif %}
					<div class="boost-pfs-filter-tree boost-pfs-filter-tree-v">{% render 'boost-pfs-filter-skeleton', type: 'filter-tree' %}</div>
				</div>
			</div>
			{%- endif -%}

			{%- if switch_layout_filter != 'switch_layout_filter_horizontal' -%}
			<div class="boost-pfs-filter-right-col">
			{%- endif -%}

			<div class="boost-pfs-filter-products {{ products_item_settings }}" data-bc-sort="{{ collection.default_sort_by }}">
				{%- for result in search.results -%}
				  {%- if result.object_type == 'product' -%}
            {%- render 'boost-pfs-filter-product-item',
              product: result,
              products_per_row: products_per_row,
              products_per_row_m: products_per_row_m,
              show_detail_when_hover: show_detail_when_hover,
              show_vendor: show_vendor,
              show_price: show_price,
              
              active_image_swap: active_image_swap,
              show_product_review: show_product_review,
              swatch_enable: swatch_enable,
              show_swatch_tooltip: show_swatch_tooltip
              swatch_change_img: swatch_change_img,
              swatch_by_color_apply: swatch_by_color_apply,
              swatch_by_color_shape: swatch_by_color_shape,
              swatch_by_img_apply: swatch_by_img_apply,
              swatch_by_img_shape: swatch_by_img_shape,
              swatch_by_pro_img_apply: swatch_by_pro_img_apply,
              swatch_by_pro_img_shape: swatch_by_pro_img_shape,
              swatch_by_text_apply: swatch_by_text_apply,
              swatch_by_text_shape: swatch_by_text_shape,
              aspect_ratio: aspect_ratio,
              aspect_ratio_other: aspect_ratio_other,
              product_img_crop: product_img_crop,
              tag_label_enable: tag_label_enable,

              label_type: label_type,
              sale_label_enable: sale_label_enable,
              sale_label_display: sale_label_display,
              sale_label_img: sale_label_img,
              
              sold_out_enable: sold_out_enable,
              sold_out_display: sold_out_display,
              sold_out_img: sold_out_img,

              product_item_type: product_item_type,
              label_soldout: label_soldout,
              label_sale: label_sale,
              label_from: label_from,
              label_toolbar_viewas: label_toolbar_viewas,
              label_items_with_count_one: label_items_with_count_one,
              label_items_with_count_other: label_items_with_count_other,
              label_sale_percent: label_sale_percent
            -%}
          {%- endif -%}
				{%- endfor -%}
			</div>
			<div class="boost-pfs-filter-bottom-pagination boost-pfs-filter-bottom-pagination-default">
				{%- if paginate.pages > 1 -%}
				{%- render 'boost-pfs-filter-pagination' -%}
				{%- endif -%}
			</div>
			<div class="boost-pfs-filter-load-more"></div>

		{%- if switch_layout_filter != 'switch_layout_filter_horizontal' -%}
		</div>
		{%- endif -%}

	</div>
</div>

{% comment %} SEARCH RESULT: COLLECTION PANEL {% endcomment %}
<div class="boost-pfs-search-result-wrap boost-hidden">
	<div class="boost-pfs-search-result-collections boost-pfs-container-default-{{ layout_type }}">
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 3 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
	</div>
	<div class="boost-pfs-search-result-collection-pagination boost-pfs-filter-bottom-pagination-default">{% render 'boost-pfs-filter-skeleton', width: 4 %}</div>
</div>
{% comment %} END SEARCH RESULT: COLLECTIONS PANEL {% endcomment %}
{% comment %} SEARCH RESULT: PAGES PANEL {% endcomment %}
<div class="boost-pfs-search-result-wrap boost-hidden">
	<div class="boost-pfs-search-result-pages boost-pfs-container-default-{{ layout_type }}">
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 3 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
	</div>
	<div class="boost-pfs-search-result-page-pagination boost-pfs-filter-bottom-pagination-default">{% render 'boost-pfs-filter-skeleton', width: 4 %}</div>
</div>
{% comment %} END SEARCH RESULT: PAGES PANEL {% endcomment %}

{% endpaginate %}

{%- render 'boost-pfs-theme-config',
	layout_type: layout_type,
	enable_filter_sticky_d: enable_filter_sticky_d,
	view_as_type: view_as_type,
	products_per_page: products_per_page,
	products_per_row: products_per_row,
	products_per_row_m: products_per_row_m,
	show_detail_when_hover: show_detail_when_hover,
	show_vendor: show_vendor,
	show_price: show_price,
	active_image_swap: active_image_swap,
	show_product_review: show_product_review,
  
	swatch_enable: swatch_enable,
  show_swatch_tooltip: show_swatch_tooltip,
	swatch_change_img: swatch_change_img,
  swatch_by_color_apply: swatch_by_color_apply,
  swatch_by_color_shape: swatch_by_color_shape,
  swatch_by_img_apply: swatch_by_img_apply,
  swatch_by_img_shape: swatch_by_img_shape,
  swatch_by_pro_img_apply: swatch_by_pro_img_apply,
  swatch_by_pro_img_shape: swatch_by_pro_img_shape,
  swatch_by_text_apply: swatch_by_text_apply,
  swatch_by_text_shape: swatch_by_text_shape,

	aspect_ratio: aspect_ratio,
	aspect_ratio_other: aspect_ratio_other,
	product_img_crop: product_img_crop,
	tag_label_enable: tag_label_enable,

  label_type: label_type,
	sale_label_enable: sale_label_enable,
  sale_label_display: sale_label_display,
  sale_label_img: sale_label_img,

  sold_out_enable: sold_out_enable,
  sold_out_display: sold_out_display,
	sold_out_img: sold_out_img,

	product_item_type: product_item_type,

	label_soldout: label_soldout,
	label_sale: label_sale,
	label_from: label_from,
	label_toolbar_viewas: label_toolbar_viewas,
	label_items_with_count_one: label_items_with_count_one,
	label_items_with_count_other: label_items_with_count_other,
  label_sale_percent: label_sale_percent
-%}

{% schema %}
  {
    "name": "Search pages",
      "settings": [
        {
        "type": "header",
        "content": "For Layout Page"
      },
      {
        "type": "radio",
        "id": "layout_type",
        "label": "Layout Type",
        "options": [
          {
          "value": "box",
          "label": "Box"
          },
          {
          "value": "fullwidth",
          "label": "Full Width"
          }
        ],
        "default": "box"
      },
      {
        "type": "header",
        "content": "Search Header"
      },
      {
        "type": "checkbox",
        "id": "show_collection_des",
        "label": "Show Collection Description",
        "default": true
      },
      {
        "type": "color",
        "id": "collection_header_bg",
        "label": "Header Background Color"
      },
      {
        "type": "color",
        "id": "collection_header_text",
        "label": "Header Text Color"
      },
      {
        "type": "header",
        "content": "For Filter"
      },
      {
        "type": "radio",
        "id": "switch_layout_filter",
        "label": "Switch Layout Filter",
        "options": [
          {
            "value": "switch_layout_filter_vertical",
            "label": "Vertical Filter"
          },
          {
            "value": "switch_layout_filter_horizontal",
            "label": "Horizonal Filter"
          }
        ],
        "default": "switch_layout_filter_vertical"
      },
        {
        "type": "checkbox",
        "id": "enable_filter_sticky_d",
        "label": "Enable Filter Sticky on Desktop",
        "default": false
      },
        {
        "type": "checkbox",
        "id": "enable_filter_sticky_m",
        "label": "Enable Filter Toolbar Sticky on Mobile",
        "default": true
      },
      {
      "type": "radio",
      "id": "filter_layout",
      "label": "Filter Layout",
      "options": [
        {
          "value": "filter_layout_default",
          "label": "Filter Layout Default"
        },
        {
          "value": "filter_layout_collapse",
          "label": "Filter Layout Collapse"
        },
        {
          "value": "filter_layout_slide",
          "label": "Filter Layout Slide (Only work on Vertical Layout)"
        }
      ],
      "default": "filter_layout_default"
    },

    {
      "type": "header",
      "content": "Toolbar"
    },
      {
      "type": "checkbox",
      "id": "show_view_as",
      "label": "Show - View As",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_product_count",
      "label": "Show - Product Count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sort_by",
      "label": "Show - Sort By",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_as_m",
      "label": "Show - View As - Mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_product_count_m",
      "label": "Show - Product Count - Mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sort_by_m",
      "label": "Show - Sort By - Mobile",
      "default": true
    },
    {
      "type": "radio",
      "id": "view_as_type",
      "label": "View As Type",
      "options": [
        {
        "value": "view_as_type_grid_list",
        "label": "Grid/List"
        },
        {
        "value": "view_as_type_list_grid_multi_col",
        "label": "List/Grid Multi Column"
        }
      ],
      "default": "view_as_type_list_grid_multi_col"
    },
    {
      "type": "header",
      "content": "Product List"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "label": "Products per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row on Desktop",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "products_per_row_m",
      "label": "Products per row on Mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2
    },
    {
      "type": "header",
      "content": "Product Item"
    },
      {
        "type": "select",
        "id": "product_item_type",
        "label": "Product Item Type",
        "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "list",
          "label": "List"
        }],
        "default": "grid"
      },
      {
        "type": "select",
        "id": "product_item_layout",
        "label": "Product Item Layout",
        "options": [
          {
            "value": "no-border",
            "label": "No Border (Default)"
          },
          {
            "value": "border-no-padding",
            "label": "Border No Padding"
          },
          {
            "value": "border-no-padding-img",
            "label": "Border No Padding Image"
          },
          {
            "value": "border-has-padding",
            "label": "Border Has Padding"
          }
        ],
        "default": "no-border"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left",
        "info": "Use this setting for Product type Grid"
      },
      {
        "type": "checkbox",
        "id": "show_detail_when_hover",
        "label": "Show details when hovering",
        "default": false,
        "info": "This setting only works on Desktop"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendor",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_price",
        "label": "Show price",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "active_image_swap",
        "label": "Active image swap",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_review",
        "label": "Show product review",
        "default": false,
        "info": "Use this setting when store has product reviews integration"
      },
      {
        "type": "header",
        "content": "Product Item - Title"
      },
      {
        "type": "color",
        "id": "product_title_color",
        "label": "Title",
        "default": "#3d4246"
      },
      {
        "type": "font_picker",
        "id": "product_title_font",
        "label": "Font",
        "default": "poppins_n6"
      },
      {
        "type": "range",
        "id": "product_title_size",
        "label": "Product Item Title - Font Size",
        "min": 10,
        "max": 30,
        "step": 1,
        "default": 14,
        "unit": "px"
      },
      {
        "type": "select",
        "id": "product_title_transform",
        "label": "Product Text transform",
        "options": [
          {
            "value": "none",
            "label": "none"
          },
          {
            "value": "uppercase",
            "label": "uppercase"
          },
          {
            "value": "capitalize",
            "label": "capitalize"
          },
          {
            "value": "lowercase",
            "label": "lowercase"
          }
        ],
        "default": "capitalize"
      },
      {
        "type": "header",
        "content": "Product Item - Vendor"
      },
      {
        "type": "color",
        "id": "product_vendor_color",
        "label": "Vendor",
        "default": "#969595"
      },
      {
        "type": "font_picker",
        "id": "product_vendor_font",
        "label": "Font",
        "default": "poppins_n4"
      },
      {
        "type": "range",
        "id": "product_vendor_size",
        "label": "Product Item Vendor - Font Size",
        "min": 10,
        "max": 30,
        "step": 1,
        "default": 12,
        "unit": "px"
      },
      {
        "type": "select",
        "id": "product_vendor_transform",
        "label": "Product Text transform",
        "options": [
          {
            "value": "none",
            "label": "none"
          },
          {
            "value": "uppercase",
            "label": "uppercase"
          },
          {
            "value": "capitalize",
            "label": "capitalize"
          },
          {
            "value": "lowercase",
            "label": "lowercase"
          }
        ],
        "default": "uppercase"
      },
      {
        "type": "header",
        "content": "Product Item - Price"
      },
      {
        "type": "color",
        "id": "product_price_color",
        "label": "Price",
        "default": "#222"
      },
      {
        "type": "color",
        "id": "product_old_price_color",
        "label": "Old Price",
        "default": "#676565"
      },
      {
        "type": "color",
        "id": "product_sale_price_color",
        "label": "Sale Price",
        "default": "#ec1010"
      },
      {
        "type": "font_picker",
        "id": "product_price_font",
        "label": "Font",
        "default": "poppins_n4"
      },
      {
        "type": "range",
        "id": "product_price_size",
        "label": "Product Item Price - Font Size",
        "min": 10,
        "max": 30,
        "step": 1,
        "default": 15,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Product Item - Description"
      },
      {
        "type": "color",
        "id": "product_des_color",
        "label": "Description Color",
        "default": "#3a3a3a"
      },
      {
        "type": "font_picker",
        "id": "product_des_font",
        "label": "Font",
        "default": "poppins_n4"
      },
      {
        "type": "range",
        "id": "product_des_size",
        "label": "Product Item Description - Font Size",
        "min": 10,
        "max": 30,
        "step": 1,
        "default": 14,
        "unit": "px"
      },
    {
      "type": "header",
      "content": "Swatch settings"
    },
    {
      "type": "checkbox",
      "id": "swatch_enable",
      "label": "Enable Display Item Swatch",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_swatch_tooltip",
      "label": "Show item swatch tooltip",
      "default": true
    },
      {
        "type": "radio",
        "id": "swatch_change_img",
        "label": "Change product image when interacting with swatch color",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "hover",
            "label": "Hover"
          },
          {
            "value": "click",
            "label": "Click"
          }
        ],
        "default": "hover"
      },

      {
        "type": "header",
        "content": "SWATCH BY COLOR"
      },
      {
        "type": "textarea",
        "id": "swatch_by_color_apply",
        "label": "Apply for",
        "info": "Please insert the product option! EX: color, type, ..."
      },
      {
        "type": "radio",
        "id": "swatch_by_color_shape",
        "label": "Swatch shape",
        "options": [
          {
            "value": "circle",
            "label": "Circle"
          },
          {
            "value": "square",
            "label": "Square"
          }
        ],
        "default": "circle"
      },

      {
        "type": "header",
        "content": "SWATCH BY IMAGE"
      },
      {
        "type": "textarea",
        "id": "swatch_by_img_apply",
        "label": "Apply for",
        "info": "Please insert the product option! EX: color, type, ..."
      },
      {
        "type": "radio",
        "id": "swatch_by_img_shape",
        "label": "Swatch shape",
        "options": [
          {
            "value": "circle",
            "label": "Circle"
          },
          {
            "value": "square",
            "label": "Square"
          }
        ],
        "default": "circle"
      },

      {
        "type": "header",
        "content": "SWATCH BY PRODUCT IMAGE"
      },
      {
        "type": "textarea",
        "id": "swatch_by_pro_img_apply",
        "label": "Apply for",
        "default": "color",
        "info": "Please insert the product option! EX: color, type, ..."
      },
      {
        "type": "radio",
        "id": "swatch_by_pro_img_shape",
        "label": "Swatch shape",
        "options": [
          {
            "value": "circle",
            "label": "Circle"
          },
          {
            "value": "square",
            "label": "Square"
          }
        ],
        "default": "circle"
      },

      {
        "type": "header",
        "content": "SWATCH BY TEXT"
      },
      {
        "type": "textarea",
        "id": "swatch_by_text_apply",
        "label": "Apply for",
        "info": "Please insert the product option! EX: size, ..."
      },
      {
        "type": "radio",
        "id": "swatch_by_text_shape",
        "label": "Swatch shape",
        "options": [
          {
            "value": "circle",
            "label": "Circle"
          },
          {
            "value": "square",
            "label": "Square"
          }
        ],
        "default": "square"
      },
      {
        "type": "color",
        "id": "swatch_by_text_bg",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "swatch_by_text_color",
        "label": "Text color",
        "default": "#3d4246"
      },
      {
        "type": "color",
        "id": "swatch_by_text_border",
        "label": "Border color",
        "default": "#ebebeb"
      },

      {
        "type": "radio",
        "id": "swatch_color_display_type",
        "label": "Display Type",
        "options": [
          {
            "value": "swatch_color_display_type_color",
            "label": "Color"
          },
          {
            "value": "swatch_color_display_type_image_color",
            "label": "Color Image"
          },
          {
            "value": "swatch_color_display_type_image_product",
            "label": "Product Image"
          }
        ],
        "default": "swatch_color_display_type_image_product",
        "info": "Please refer [this link](https:\/\/help.boostcommerce.net\/article\/417-how-to-config-the-product-item-layout-in-our-default-theme#a10) about 3 display types of Color swatches!"
      },

      {
        "type": "radio",
        "id": "swatches_color_shape",
        "label": "Swatch shape",
        "options": [
          {
            "value": "circle",
            "label": "Circle"
          },
          {
            "value": "square",
            "label": "Square"
          }
        ],
        "default": "circle"
      },
      {
        "type": "header",
        "content": "Product Image"
      },
      {
        "type": "select",
        "id": "aspect_ratio",
        "label": "Product image aspect ratio (Width x Height)",
        "options": [
          {
            "value": "false",
            "label": "Disabled"
          },
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "1:1",
            "label": "Square (1:1)"
          },
          {
            "value": "2:3",
            "label": "Portrait (2:3)"
          },
          {
            "value": "4:3",
            "label": "Landscape (4:3)"
          },
          {
            "value": "other",
            "label": "Manual ratio below"
          }
        ],
        "default": "auto",
        "info": "For best results [all product photos should be the same ratio](https:\/\/help.shopify.com\/manual\/productivity-tools\/image-editor#image-aspect-ratio)"
      },
      {
        "type": "text",
        "id": "aspect_ratio_other",
        "label": "Example: 6:7",
        "info": "If the ratios above is not suitable for your store, could you please enter your aspect ratio (Width x Height) in the form below?"
      },
      {
        "type": "select",
        "id": "product_img_crop",
        "label": "Crop image position",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "none"
      },
      {
        "type": "header",
        "content": "Product Item - Label"
      },
      {
        "type": "select",
        "id": "label_position",
        "label": "Product Label Position",
        "default": "center",
        "options": [
        {
          "value": "top_left",
          "label": "Top Left"
        },
        {
          "value": "top_right",
          "label": "Top Right"
        },
        {
          "value": "bottom_left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom_right",
          "label": "Bottom Right"
        }],
        "default": "top_left"
      },
      {
        "type": "select",
        "id": "label_type",
        "label": "Product Label Type",
        "options": [
          {
            "value": "rectangle",
            "label": "Rectangle"
          },
          {
            "value": "circle",
            "label": "Circle"
          }
        ],
        "default": "rectangle"
      },
      {
        "type": "header",
        "content": "Sale Label"
      },
      {
        "type": "checkbox",
        "id": "sale_label_enable",
        "label": "Show sale label",
        "default": true
      },
      {
        "type": "radio",
        "id": "sale_label_display",
        "label": "Sale label display",
        "options": [
          {
            "value": "text",
            "label": "Text"
          },
          {
            "value": "sale_percent",
            "label": "Sale Percent"
          },
          {
            "value": "image",
            "label": "Image"
          }
        ],
        "default": "text"
      },
      {
        "type": "color",
        "id": "sale_label_bg",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "sale_label_text",
        "label": "Text Color"
      },
      {
        "type": "image_picker",
        "id": "sale_label_img",
        "label": "Upload Product Label Sale"
      },
      {
        "type": "header",
        "content": "Sold Out Label"
      },
      {
        "type": "checkbox",
        "id": "sold_out_enable",
        "label": "Show sold out label",
        "default": true
      },
      {
        "type": "radio",
        "id": "sold_out_display",
        "label": "Sale label display",
        "options": [
          {
            "value": "text",
            "label": "Text"
          },
          {
            "value": "image",
            "label": "Image"
          }
        ],
        "default": "text"
      },
      {
        "type": "color",
        "id": "sold_out_bg",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "sold_out_text",
        "label": "Text Color"
      },
      {
        "type": "image_picker",
        "id": "sold_out_img",
        "label": "Upload Product Label Sold Out "
      },
      {
        "type": "header",
        "content": "Custom Label By Tag"
      },
      {
        "type": "checkbox",
        "id": "tag_label_enable",
        "label": "Enable the Custom Label By Tag",
        "default": false,
        "info": "Please refer [this link](https:\/\/help.boostcommerce.net\/article\/475-how-to-create-custom-label-by-tag-in-the-default-theme) to create a Custom Label By Tag!"
      },
      {
        "type": "color",
        "id": "tag_label_bg",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "tag_label_text",
        "label": "Text Color"
      }
    ]
  }
{% endschema %}