{% comment %}
  Custom CSS here
  All custom CSS in this file will be kept when updating the theme
{% endcomment %}

/* Header */
@media (max-width: 1023px) {
  .sf-header__mobile .sf-logo {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}


/* Swatch Collection Page announcement banner */
#sf-custom-template--15413746335923__16497760606a1b5046 .section-py {
  padding-top: 30px;
  padding-bottom: 10px;
}
/* Swatch Product Page announcement banner */
#sf-custom-template--15413694857395__1649776114b025d68e .section-py {
  padding-top: 30px;
  padding-bottom: 10px;
}
  


/* Product Page */

.size-guide-popup {
  display: none;
  position: relative;
  z-index: 99;
}

.size-guide-popup.open {
  display: block;
}

.size-guide-popup .popup-wrapper {
  background: #FFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  position: fixed;
  width: fit-content;
  z-index: 1;
}

.size-guide-popup .popup-wrapper button {
  background: #000000d1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 15px;
  position: absolute;
}

.size-guide-popup .popup-wrapper button svg {
  width: 14px;
  height: auto;
}

.size-guide-popup .popup-wrapper button svg polygon {
  fill: #FFF;
}

.size-guide-popup .popup-wrapper .popup-content img {
  display: block;
  max-height: 80vh;
  min-height: 50vh;
  width: auto;
}

@media (max-width: 768px) {
  .size-guide-popup .popup-wrapper .popup-content img {
    /* width: 80%; */
    /* height: auto; */
  }
}

[data-popup-bg] {
  background: #00000056;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

[data-size-guide-open] {
  text-decoration: underline;
}

.shopify-section.section-app-widget .container {
  margin-top: 0px;
  margin-bottom: 0px;
}


[data--hidden] {
  display: none !important;
}



/* Homepage */

@media (min-width: 1280px) {
  body.template-index .sf-testimonials .sf-testimonials-description {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

.sf-header__desktop .container-fluid.-mx-4.flex.items-center.sf-no-scroll-bar.sf-menu-wrapper__desktop ul li a {
    font-family: 'Poppins';
    color: #2c3658;
}
.sf-header__desktop .container-fluid.-mx-4.flex.items-center.sf-no-scroll-bar.sf-menu-wrapper__desktop ul li .sf-menu__desktop-sub-menu ul li .sf__sub-menu-column ul li a {
    font-family: 'Helvetica';
    font-size:14px;
}
.sf-header__desktop .container-fluid.-mx-4.flex.items-center.sf-no-scroll-bar.sf-menu-wrapper__desktop ul li .sf-menu__desktop-sub-menu ul li .sf__sub-menu-column .pl-5 {
    padding-left: unset;
}
span.variant-nme {
    padding-left: 10px;
  	font-weight: 300;
  	font-size: smaller;
  	color: #444444;
}

button.out-of-stock {
    width:74%;
    border: 1px solid #56749f;
    padding: 9px;
}
button.out-of-stock:hover
{
 background:#56749f;
  color:#fff;
}
button.pre-order {
    width:74%;
    border: 1px solid #56749f;
    padding: 9px;
}
button.pre-order:hover
{
 background:#56749f;
  color:#fff;
}
.product-form .prod__dynamic_checkout.buy-one-click.w-full.mt-5 {
    display: none;
}

button[data-checkout].sf__btn {
  text-transform: capitalize;
}

a.btn--klaviyo {
  text-decoration: underline;
  text-underline-position: under;
}

shopify-payment-terms {
  color: #4e4e4e;
  font-size: smaller;
}

@media (max-width: 768px) {
  shopify-payment-terms {
    font-size: smaller;
  }
  .sf-sub-links {
    height: auto;
  }
  .sf-sub-links button.back {
    display: none !important;
  }
  .sf-menu-links .sf-link button svg {
    transition: all .3s ease;
  }
  .sf-menu-links .sf-link button.menu-open svg {
    transform: rotate(90deg);
  }

  .sf-menu-content .sf-menu-links > li > button, .sf-menu-content .sf-menu-links > li > a,
  .sf-menu-content .sf-sub-links ul.pb-4 > li > a {
    color: #2c3658;
    font-weight: bold;
  }

  .sf-menu-content .sf-sub-links ul.pb-4 a {
    color: #2c3658;
    font-weight: normal !important;
    padding-left: 6%;
  }

  footer.sf-footer .sf__accordion-item .sf__accordion-button:after {
    background-image: var(--arrow-down-white-url);
  }

}

a.klaviyo-bis-trigger {
  background: #56749f;
  color: #FFF;
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #56749F;
  
}

a.klaviyo-bis-trigger:hover {
  background: #2c3658;
}

form.product-form.main-product button.add-to-cart {
  height: 46px;
}

.product-option-item[data-option="Color"] {
  border-radius: 50%;
  background-size: 58px 58px;
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  padding: 0px;
}

@media (max-width: 768px) {
  .product-option-item[data-option="Color"] {
    background-size: 58px 58px;
  }
  .sf__pcard-style-1 .sf__pcard-image .sf__pcard-action {
    transform: unset;
    opacity: 1;
    top: 0px;
    right: 0px;
  }
  .sf__tooltip-item.sf__btn-icon.sf-pqv__button {
    display: none;
  }
}

.prod__option-label {
  font-family:'Poppins';
  font-size: smaller;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product-options .option-label {
  text-transform: none;
}

.sf__accordion-item .sf__accordion-button {
  font-family:'Poppins';
  font-size: smaller;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.available_options {
  margin-bottom: 15px;
}

.added-to-wishlist svg, .sf-wishlist__button:hover {
  fill: #FFF;
}

.minicart_free_shipping, .scd-empty-msg {
  text-align: center;
}

.sf-po__option-button {
  font-size: smaller;
  font-weight: normal;
  font-family: 'Poppins';
  letter-spacing: 1px;
  border-radius: 0px;
  height: 40px;
  border-color: #dfdfdf;
}



li.prod__delivery-times.flex.items-center {
  font-size: smaller;
  font-weight: 600;
  line-height: 1.5rem;
  color: #56749F;
  /* background: #f8f8f8; */
}

.sf__btn {
  font-family: 'Poppins';
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #56749F;
}

.sf__btn-secondary {
  background: #56749F !important;
  color: #ffffff !important;
}

.sf__btn-secondary:hover {
	background: #2c3658 !important;
  	border-width: 0px !important;
}

.sf__btn.sf__btn-link {
	background: transparent !important;
}

.sf__btn.disabled {
	background: #f4f4f4 !important;
  	color: #444444 !important;
}


.template-product #MainContent {
  padding-bottom: 0px;
}


.sf-product__section {
    padding-bottom: 5rem;
  	padding-top: 5rem;
}

.available_options {
	font-size: small;
}

.sf-pcard__reviews {
    padding-bottom: 0px;
}

.prod__compare_price {
  color: #97999b;
  font-weight: 400;
  font-family: 'Poppins';
}

.text-color-regular-price {
  font-weight: 600;
  font-family: 'Poppins';
}


.added-to-wishlist:not(.in-prod-page,.sf__tooltip-style-2) {
	background-color: #ff6573;
}


.main-product__block+.main-product__block {
  margin-top: 20px;
}


/* Testimonial formatting intended for Layout 5? */
.testimonial-home-page h3 {
  font-size: 1.5em;
  color: #2c3658;
  
}


/* Shoppable Image section on the home page */
.shoppable-image-home h3 {
  font-size: 1em;
  font-family: Helvetica;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: normal;
}
.shoppable-image-home .sf-currency {
  font-family: 'Poppins';
  font-weight: 500;
}
.shoppable-image-home .sf-currency--saved {
  color: #FF6572;
  font-weight: normal;
}
.shoppable-image-home .border-2 {
  border-width: 0px;
  color: #2c3658;
  background-color: #eaf2f9;
  font-family: 'Poppins';
  font-weight: 500;
}
.shoppable-image-home .w-full {
  background: white;
}
.shoppable-image-home .text-color-secondary {
  color: #a0a4ab;
}
.shoppable-image-home .form-control {
  border-color: #a0a4ab;
  background-color: white;
  border-radius: 0;
  font-size: small;
}



.yotpo-gallery a {
  color: #56749F;
  text-decoration: none;
}